@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 100%;
	font-style: normal;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0;
}
* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-color: inherit;
}